# Banco de dados
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=

# API da BRAPI (mantenha o padrão, salvo orientação da BRAPI)
BRAPI_BASE_URL=https://brapi.dev/api
# Token da BRAPI (aceita também BRAPI_TOKEN)
TOKEN_BRAPI=
